
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.suo
*.opensdf
*.log
*.tlog
*.sdf
*.user
*.sln
*.pro
*.pri
*.project
*.workspace
*pre1
*.autosave

Build
Bin
Object
Project
Makefile
Scripts
Doc
backups

premake5
premake5.exe

notes.txt
notes

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
