
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.suo
*.opensdf
*.log
*.tlog
*.sdf
*.user
*.sln
*.pro
*.pri
*.project
*.workspace
*pre1
*.autosave
*~

Build
Bin
Makefile
backups

premake5
premake5.exe

notes.txt
notes

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
